.topnav {
  overflow: hidden;
  background-color: #0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #58B;
  color: yellow;
}

.topnav a.active {
  background-color: #562380;
  color: white;
}


.tuna{color:#229;}

p.tuna{color:#229;}

p[name] {color:#229;}

.pubg{color:#229;}




#background_img{

	border: 9px dotted #229;
	padding: 25px;
	background:url(pic3.jpg);
	background-repeat:repeat;
	background-size:cover;
}

